:root {
  --black: #1c1c1c;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.05) 0px 5px 20px -1px;
  transition: box-shadow 0.3s;
  border: none;
  text-decoration: none;
}

.iconPlatform {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--black);
  z-index: 10;
  background-color: rgb(255, 255, 255);
  padding: 10px 5px;
}
.platform {
  padding: 0 5px;
}
.card h1 {
  position: relative;
  width: 100%;

  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 10px 0;
  color: var(--black);
  z-index: 5;

  transition: transform 0.5s;
}

.card h1::before {
  position: absolute;
  content: "";
  height: 300px;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.5s;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s;
}
.card:hover h1::before {
  transform: translate(0, -10px);
}

.card:hover h1 {
  transform: translate(0, -10px) scale(1.05);
}
.card:hover {
  cursor: pointer;
  /* box-shadow: rgba(17, 12, 46, 0.3) 0px 5px 15px -1px; */
}

.card:hover img {
  transform: translate(0, -20px) scale(1.03);
}
