.product-container {
	margin: 0 100px;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

/* .product-container h1 {
	margin-bottom: 10px;
} */

.product-grid {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
}
